body {
  text-align: center;
  background: linear-gradient(
    #f8bbd0 0%,
    #f06292 25%,
    #ba68c8 50%,
    #e1bee7 100%
  );
  background-repeat: no-repeat;
}

#p {
  width: 350px;
  height: 250px;
}

#p2 {
  width: 300px;
  height: 380px;
}

#hb {
  width: 500px;
}

#hobby {
  font-size: 60px;
  text-shadow: 2px 2px #c2185b;
  font-family: 'Festive', cursive;
}

#hb2 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

img {
  padding: 20px;
}

.menu{
    list-style: none;
    font-family: cursive;
    top: 10px;
    float: right;
    right: 30px;
    cursor: pointer;
    color: black;
}

.link{
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: inherit;
    font-size: 25px;
    font-weight: bold;
}

.link:hover{
    background-color: deeppink;
}